<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error <%= errorCode  %> </title>
</head>
<body>
    Its not you! Its us!</br>
    <a href="/">Go to homepage</a>
</body>
</html>